
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif; 
}



* {
  box-sizing: border-box;
}

.btn-primary{
 @apply text-primary px-[30px] py-[8px] rounded-3xl bg-link cursor-pointer  hover:bg-hover transition-all hover:text-white
}
